

#policy-parent-div {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

#create-issue-policy-div {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/Capture.PNG);

  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  /* border: 1px solid black; */

  height: 100vh;
}

#view-policy-details-div {
  /* border: 1px solid blue; */

  height: 100vh;
}
